scipy==1.5.4
sensor-msgs==1.13.1
open3d==0.15.2
numpy==1.22.3
absl-py==1.1.0
angles==1.9.13
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
bondpy==1.8.6
cachetools==5.2.0
cffi==1.15.1
chamfer==2.0.0
charset-normalizer==2.1.0

